*{
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0; 
}
body{
    background-image: url(kepek/black.png);
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    font-size: 10px;
    color: black;
}
article img{
    float: right;
}
img{
    width: 300px;
}
main{
    width: 90%;
    max-width: 900px;
    text-align: center;
    background-color: rgb(226, 223, 177);
}
header{
    height: 300px;
}
header img{
    background-size: cover;
}
nav ul{
    list-style-type: none;
}
nav a:hover{
    color: orange;
}
nav{
    font-weight: bold;
}
h1{
    font-size: 15px;
}